.shopItem {
    width: 48%;
    aspect-ratio: 1/1;
    background-color: thistle;
    margin: 1%;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shopItem:hover:not(.unaffordable) {
    cursor: pointer;
    background-color: hotpink;
}

.unaffordable {
    background-color: gray;
}

.unaffordable:hover {
    cursor: not-allowed;
}

@media (min-width: 460px) {
    .shopItem {
        width: 31%;
    }
}


@media (min-width: 768px) {
    .shopItem {
        width: 23%;
    }
}

