.shopItem {
    width: 25%;
    aspect-ratio: 1/1;
    background-color: thistle;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shopItem:hover:not(.unaffordable) {
    cursor: pointer;
    background-color: hotpink;
}

.unaffordable {
    background-color: gray;
}

.unaffordable:hover {
    cursor: not-allowed;
}